In [31]:
import pandas as pd
import numpy as np

df_scores = pd.read_csv('../../data/SP500_EGS_Score_avarage_per_year.csv', index_col=0, parse_dates=True,sep=',')

# all lower case

df_scores.columns = map(str.lower, df_scores.columns)

# - to _

df_scores.columns = df_scores.columns.str.replace('-', '_')

df = pd.read_csv('../../data/extracted_text_sustainability_reports.csv', index_col=0, parse_dates=True,sep=',')

/var/folders/q4/1vtck34d7h12n065tcl6nwkm0000gn/T/ipykernel_17709/477745057.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_scores = pd.read_csv('../../data/SP500_EGS_Score_avarage_per_year.csv', index_col=0, parse_dates=True,sep=',')
/var/folders/q4/1vtck34d7h12n065tcl6nwkm0000gn/T/ipykernel_17709/477745057.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('../../data/extracted_text_sustainability_reports.csv', index_col=0, parse_dates=True,sep=',')

In [32]:
import sys 
sys.path.append('../../functions/')

from merge_dataframes import merge_dataframes

merge_dataframes(df, df_scores)

(    ticker  year                                            content
 0       LH  2021  Creating a Healthier  \nTomorrow2 0 2 1  CO R ...  \
 1      MTB  2020  2020 Environmental, Social and Governance Repo...
 2     EXPD  2021  Sustainability Report \n20212021   EXPEDITORS ...
 3      WDC  2019  1\nDATA AT EVERY STEP, EVERYWHERE\nSUSTAINABIL...
 4     FTNT  2021  Sustainability \nreport\n 2021About Fortinet\n...
 ..     ...   ...                                                ...
 842    SYF  2019  2019  \nCORPORATE SOCIAL RESPONSIBILITY REPORT...
 843    LUV  2019  2019   \nOne  \nReportTable of Contents\n2 Abo...
 844   ADSK  2019  Autodesk \nFY2019  \nSustainability  \nReport\...
 845   ANSS  2020  CORPORATE RESPONSIBILITY // 1CORPORATE RESPONS...
 846    TGT  2019  2019 Target Corporate \nResponsibility Report�...

     company_symbol  total_score    e_score    s_score    g_score
 0               LH    15.304000   0.670000   7.670000   6.956000
 1              MTB    27.660000   2.120000  12.800000  12.743333
 2             EXPD    18.130000   4.050000   9.230000   4.840000
 3              WDC    68.327500  66.186667  73.710833  64.219167
 4             FTNT    21.074000   1.334000  13.570000   6.170000
 ..             ...          ...        ...        ...        ...
 842            SYF    49.825833  36.964167  57.320000  53.675000
 843            LUV    54.218333  43.942500  55.075833  67.236667
 844           ADSK    62.690000  71.327500  55.269167  65.683333
 845           ANSS    15.395000   0.940000   9.460000   4.993333
 846            TGT    59.061667  64.868333  48.762500  67.410000

 [847 rows x 8 columns],
                     ticker  year
 filename
 ASX_ATCO_2019.pdf     ATCO  2019  \
 NYSE_ACC_2019.pdf      ACC  2019
 TSX_CSH_2020.pdf       CSH  2020
 NYSE_ALK_2021.pdf      ALK  2021
 LSE_GKP.L_2021.pdf   GKP.L  2021
 ...                    ...   ...
 OTC_AXELF_2017.pdf   AXELF  2017
 TSX_INQ_2019.pdf       INQ  2019
 NASDAQ_AMD_2019.pdf    AMD  2019
 NYSE_CARR_2020.pdf    CARR  2020
 NYSE_blkb_2021.pdf    blkb  2021

                                                                content
 filename
 ASX_ATCO_2019.pdf    Atlas Copco\nAnnual report\n2019Atlas Copco \n...
 NYSE_ACC_2019.pdf    ACC Cares: 2019 Environmental, Social & Govern...
 TSX_CSH_2020.pdf     Chartwell Retirement Residences/Environmental,...
 NYSE_ALK_2021.pdf    CARE  REPORT  2021\nALASKA AIRLINES 2021 SUSTA...
 LSE_GKP.L_2021.pdf   Sustainability report 2021GKP is a responsible...
 ...                                                                ...
 OTC_AXELF_2017.pdf   Sustainability Report 2017\nPrint Excerpt of t...
 TSX_INQ_2019.pdf     Sustainability \nReport\nIn accordance with  \...
 NASDAQ_AMD_2019.pdf  CORPORATE CITIZENSHIP  \nSUMMARY\nGREATER TECH...
 NYSE_CARR_2020.pdf   ENVIRONMENTAL, \nSOCIAL & GOVERNANCE \nREPORT\...
 NYSE_blkb_2021.pdf   Sustainability \nreport 2021The future \nneeds...

 [365 rows x 3 columns],
       year company_symbol  total_score  e_score  s_score  g_score
 1     2014            AAL        72.75    77.00    67.00    75.25
 8     2014            ADI        65.50    64.75    66.00    66.00
 14    2014            AES        53.75    47.00    57.00    65.00
 21    2014            ALL        59.75    59.50    65.75    53.00
 22    2014           ALLE        50.00    41.00    50.00    62.00
 ...    ...            ...          ...      ...      ...      ...
 4008  2023            WAB        23.25     4.52    11.69     7.04
 4009  2023            WAT        17.01     1.37     9.40     6.24
 4012  2023           WELL        12.01     3.87     3.22     4.92
 4016  2023            WTW        18.61     0.13     8.68     9.79
 4018  2023            XEL        23.80    12.87     6.75     4.18

 [1545 rows x 6 columns])

In [2]:
import pandas as pd

collab_data = pd.read_csv('../data/preprocessed_data_text_format.csv', index_col=0, parse_dates=True,sep=',')

import sys 
sys.path.append('../')

/var/folders/q4/1vtck34d7h12n065tcl6nwkm0000gn/T/ipykernel_88949/2702742867.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  collab_data = pd.read_csv('../data/preprocessed_data_text_format.csv', index_col=0, parse_dates=True,sep=',')

In [3]:
collab_data.head()
collab_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1223 entries, ASX_ATCO_2019.pdf to NYSE_TGT_2019.pdf
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                1223 non-null   object
 1   year                  1223 non-null   int64
 2   content               1223 non-null   object
 3   preprocessed_content  1223 non-null   object
dtypes: int64(1), object(3)
memory usage: 47.8+ KB

In [3]:
from helpers.ngrams.detect_ngrams import detect_ngrams
collab_data_test = collab_data.head(1)

In [4]:
collab_data_result, bigram_model, trigram_model = detect_ngrams(collab_data_test)

/Users/neuefische/repos/ESG-Score-Prediction-from-Sustainability-Reports/playhub/../helpers/ngrams/detect_ngrams.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['content'], inplace=True)

In [4]:
collab_data_result.head(1)

,ticker,year,preprocessed_content
filename,,,
ASX_ATCO_2019.pdf,ATCO,2019,annual report cover ceo section contain vision...

In [5]:
from helpers.ngrams.add_ngrams import add_ngrams
collab_data_result['preprocessed_content'] = collab_data_result['preprocessed_content'].apply(lambda x: add_ngrams(x, bigram_model, trigram_model))

/var/folders/q4/1vtck34d7h12n065tcl6nwkm0000gn/T/ipykernel_88949/2276629394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  collab_data_result['preprocessed_content'] = collab_data_result['preprocessed_content'].apply(lambda x: add_ngrams(x, bigram_model, trigram_model))

In [6]:
collab_data_result.head(10)

,ticker,year,preprocessed_content
filename,,,
ASX_ATCO_2019.pdf,ATCO,2019,annual_report cover ceo section contain vision...

In [11]:
import sys 
sys.path.append('../')

In [12]:
from helpers.topic_modelling.generate_dtm import create_dtm
from helpers.topic_modelling.generate_tfidf import create_tfidf

In [33]:
#df_dtm = create_dtm(collab_data_result, min_df=0.05, max_df=1)
df_tfidf = create_tfidf(collab_data_result, min_df=0.05, max_df=0.95)

ValueError: After pruning, no terms remain. Try a lower min_df or a higher max_df.

In [31]:
# sort dtm columns by largest value

df_dtm = df_dtm.reindex(df_dtm.sum().sort_values(ascending=False).index, axis=1)


df_tfidf = df_tfidf.reindex(df_tfidf.sum().sort_values(ascending=False).index, axis=1)
display(df_tfidf,df_dtm)

,include,year,share,asset,customer,risk,employee,increase,value,company,...,ethnic,preven,etween,presume,evaluat,evaluated,evaluaterisk,presid,preset,zone
filename,,,,,,,,,,,,,,,,,,,,,
ASX_ATCO_2019.pdf,0.212285,0.195835,0.195835,0.169202,0.168418,0.161368,0.160585,0.155102,0.151968,0.140218,...,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783

,include,year,share,asset,customer,risk,employee,increase,value,company,...,ethnic,preven,etween,presume,evaluat,evaluated,evaluaterisk,presid,preset,zone
filename,,,,,,,,,,,,,,,,,,,,,
ASX_ATCO_2019.pdf,271,250,250,216,215,206,205,198,194,179,...,1,1,1,1,1,1,1,1,1,1

In [32]:
df_tfidf

,include,year,share,asset,customer,risk,employee,increase,value,company,...,ethnic,preven,etween,presume,evaluat,evaluated,evaluaterisk,presid,preset,zone
filename,,,,,,,,,,,,,,,,,,,,,
ASX_ATCO_2019.pdf,0.212285,0.195835,0.195835,0.169202,0.168418,0.161368,0.160585,0.155102,0.151968,0.140218,...,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783,0.000783